.portfolio-container {
  width: 100%;
  // border: 1px solid red;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: all 10ms ease-in;
  margin-top: calc(0.5rem + 10vw);
}


.portfolio-content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 85%;
  // height: 40rem;
  margin-top: 2rem;
  margin-bottom: 25rem;
  cursor: default;
}


.feature-card-container {
  height: 20rem;
  width: 35rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  // background-color: red;
  margin-bottom: 3rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: rgba(50, 50, 50, 0.1) 0px 1px 1px, rgba(50, 50, 50, 0.1) 0px 1px 1px;
  transition: all 500ms cubic-bezier(0.5, 0.43, 0.25, 0.95);
  // .project-img {
  //   object-fit: contain;
  //   object-position: center;
  //   height: 100%;
  //   position: absolute;
  //   transform: translateX(-50%);
  //   z-index: -10;
  // }
  img {
    width: 100%;
    object-position: center;
    position: absolute;
    z-index: 1;
  }
}

.feature-hover-detail-container {
  background-color: var(--color-1);
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: absolute;
  z-index: 15;
  transition: all 500ms cubic-bezier(0.5, 0.43, 0.25, 0.95);

  .feature-title {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-3);
    opacity: 1;
    margin: 3rem 0rem 1rem 0rem;
  }
  
  .feature-detail {
    font-size: 0.8rem;
    color: var(--color-3);
    opacity: 1;
    margin-bottom: 4rem;
  }

}

.feature-card-container:hover .feature-hover-detail-container {
  background-color: rgba(37, 37, 45, 0.911);
  position: relative;
  z-index: 2;
  transition: all 500ms cubic-bezier(0.5, 0.43, 0.25, 0.95);
}



.feature-icon-links-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width:100%;
}

.icon-img-container {
  width: 2rem;
  height: 2rem;
  overflow: visible;
  transition: all 0.15s ease-in;
  opacity: 1;
  img {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    object-position: center;
    transition: all 0.1s ease-in;
    transform: translate(-50%, 0);
  }
  img:hover {
    transform: scale(1.1) translate(-44%, -2%);
    filter: brightness(200%);
    transition: all 0.1s ease-in;
  }
}

.feature-card-container:hover .feature-title {
  opacity: 1;
}

.feature-card-container:hover .feature-detail {
  opacity: 1;
}

.feature-card-container:hover .icon-img-container {
  opacity: 1;
}


@media screen and (max-width:1020px) {
  .portfolio-container {
    padding-bottom: 10rem;
  }
}

// @media screen and (max-width:940px) {

// }

@media screen and (max-width:680px) {
  .portfolio-container {
    padding-bottom: 28rem;
  }
}