.archive-container {
  width: 100%;
  // border: 1px solid red;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.2s ease-in;
  margin-top: 5rem;
}

.archive-title {

  // background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 95%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 200ms;
}

.archive-title:hover {
  // color:#00458b;
  transition: 200ms;
  background: linear-gradient(180deg, #DEE2E6 0%, rgba(222, 226, 230, 0.5) 100%);
  // text-decoration: underline;
  // transition: width 0.3s ease-in-out;
}


// .archive-content-container {
//   background-color: red;
//   height: 10rem;
//   width:20rem;
//   transition: width 0.3s ease-in-out;
// }

.archive-inView {
  background-color: red;
  height: fit-content;
  width: 95%;
  transition: height 0.4s ease-in-out;
}

.archive-hidden {
  background-color: rgb(0, 21, 255);
  height: 0px;
  width: 95%;
  transition: height 0.4s ease-in-out;
  overflow: hidden;
}

// .content {
//   padding: 0 18px;
//   display: none;
//   overflow: hidden;
//   background-color: #f1f1f1;

// }