.splash-container {
  // border: 1px solid grey;
  margin-top: 10rem;
  // max-width: 1640px;
  overflow: hidden;
  // margin-top: var(--navbar-height);
  transition: all 0.1s ease-in;
  // border: 1px solid red;
  height: fit-content;
  // width: 100%;
  padding:2rem;

}
// 10,12,14,19
.image-text {
  background-image: url(/public/bg14.jpg);
  background-size: cover;
  text-align: left;
  background-repeat: no-repeat;
  font-family: 'Kanit', sans-serif;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  overflow: hidden;
  font-size: calc(1.2rem + 7.0vw);
  font-weight: 900;
  line-height: 1.4;
  animation: anim-1 1.2s ease-in;
}


@keyframes anim-1 {
  0% {
    color: white;
  }
  100% {
    color: transparent;
  }
}


@media screen and (max-width:600px) {
  .splash-container {
    margin-top: 5rem;
    transition: all 0.1s ease-in;
  }

}