#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 1rem; */
  text-align: center;

  --color-1: #212529;
  --color-2: #6C757C;
  --color-3: #DEE2E6;
  --color-accent: #E12301;
  --color-bg: #ffffff;
  --color-nav-bg: rgba(255, 255, 255, 0.99);
  --navbar-height: 7rem;
  --navbar-height-mobile: 4rem;

  --primary-color: #5bb462;
  --primary-dark: #4f9c55;
  --secondary-color: #ffea00;
  --secondary-dark:#e3d002;
  --overlay: rgba(0,0,0,.7);
  
  display: flex;
  justify-content: center;
  cursor: default;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

.app-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-body {
  max-width: 1920px;
}



ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.splash-app-wrapper {
  width: 100%;
  /* max-width: 1240px; */
  /* margin: 2rem 0rem 5rem 0rem; */
  height: fit-content;
  /* border: 1px solid red; */
  /* margin-top: var(--navbar-height); */
  transition: .2s;
  display: flex;
  align-items: flex-start;
  justify-content: center;

}

.section-wrapper {
  width: 100%;
  /* max-width: 1240px; */
  height:fit-content;
  background: rgb(255,255,255);
}

.section-label {
  /* margin: 12rem 0rem 3rem 0rem; */
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: var(--color-1);
  transition: all 0.1s ease-in;
  cursor: default;
}


@media screen and (max-width:940px) {
  .splash-container {
    margin-top: var(--navbar-height-mobile);
    transition: .2s;
  
  }

  .section-label {
    margin: 4rem 0rem 2.5rem 0rem;
    transition: all 0.1s ease-in;
  }

}